import express from 'express';
{{#each indexContent}}import {{this.controllerName}} from './{{this.controllerName}}';
{{/each}}

const router = express.Router(); // eslint-disable-line new-cap

{{#each indexContent}}// mount {{this.controllerName}} routes at /{{this.endpointName}}
router.use('/{{this.endpointName}}', {{this.controllerName}});

{{/each}}
export default router;