import express from 'express';
import {{routeName}}Ctrl from '../controllers/{{routeName}}';

const router = express.Router(); // eslint-disable-line new-cap

{{#each routes}}
router.route('{{pathName}}')
  {{#each methods}}
  {{#if this.description}}
  /* {{{this.description}}} */
  {{/if}}
  /** {{this.methodName}} /api/{{../../routeName}}{{../pathName}} */
  .{{methodName}}({{../../routeName}}Ctrl.{{operationId}}){{#if @last}};{{/if}}
{{/each}}
{{/each}}

export default router;