import request from 'supertest-as-promised';
import httpStatus from 'http-status';
import chai, {
  expect
} from 'chai';
{{#each models}}import {{this}} from '../models/{{this}}';
{{/each}}
import app from '../../index.js';

chai.config.includeStack = true;

describe('## {{currentModelName}} APIs', () => {
/*
** HERE DEFINE OTHER VARIABLES NEEDED FOR TEST DEPENDING ON THE MODEL SCHEMA
*/
	let {{routeName}} = {
	{{#each currentModel.properties}}	{{#unless @first}}	{{/unless}}{{@key}}: ; //MOCK DATA
	{{/each}}
	};

  after((done) => {
  {{#each models}}	{{#unless @first}}	{{/unless}}{{this}}.collection.drop();
  {{/each}}
    done();
	});

	{{#each routes}}
	{{#each methods}}
	describe('# {{upperCase this.methodName}} /api/{{../this.endpointName}}{{../pathName}}', () => {
		{{#isRoot ../this.pathName}}{{{process ../this ../../../this.currentModel.properties}}}{{/isRoot}}{{#isRootId ../this.pathName}}{{{process2 ../this ../../../this.currentModel.properties}}}{{/isRootId}}
	});

	{{/each}}
	{{/each}}
